html body {
  background-color: #D6CFCB;
  width:1130px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../assets/linus-nylund-UCIZh0-OYPw-unsplash.jpg);
  background-repeat: repeat;
}

/* table styling */
#snack {
  font-size: 30px;
  color:#a57382;
  margin-bottom: 30px;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
  font-family: 'Lobster', cursive;
}
table, th, td {
  border: groove;
  border-color: #FFCAD4;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: auto;
  background-color: #565264;
  color:#D6CFCB;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
th {
  font-weight: bold;
}

tr {
  font-style: italic;
}

table td:nth-child(even){
  background-color: #645263;
}

#store-form{
  display: flex;
  flex-direction: column;
  color: #565264;
  width: 600px;
  height: auto;
  align-items: center;
  justify-content: center;
}

#store-form fieldset{
  display: flex;
  flex-direction: column;
  column-gap: 5px;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: #a57382;
  border-width: 5px;
  border-style: ridge;
  background-color: #FFE5D9;
}
#store-form fieldset legend {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;
  margin-bottom: 15px;
  text-align: center;
  border-style: double;
  border-width: 3px;
  background-color: #565264;
  color:#F4ACB7;
}

#store-form fieldset input {
  padding: 5px;
  margin: 10px 5px;
  border-radius: 5px;
  font: inherit;
}
#store-form button {
  margin-bottom: 20px;
  padding: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  font-size: large;
  transition: 350ms;
  border-radius: 10px;
  cursor: pointer;
}

#store-form button:hover {
  background-color: #645263;
}
#store-form label {
  background-color: #565264;
  color: #FFE5D9;
  border-radius: 5px;
  border-style: double;
  border-width: 2px;
  border-color: #F4ACB7;
  padding: 3px;
}
#store-form #storeLocation, #minCust, #maxCust, #avgSales {
  background-color: #645263;
  color: #FFE5D9;
}

/* header styling */

#title {
  
  font-family: 'Lobster', cursive;
  color: #565264;
  font-size: 50px;
  text-align: center;
  width: auto;
  margin-bottom: 20px;
}

header {
  width: auto;
}
header div {
  width: 1130px;
  height: 300px;
  border:groove; 
  border-color: #A6808C;
  border-width: 5px;
  background-color: #a57382;
}

div img {
  position: absolute;
  z-index: 0;
  bottom: 630px;
  left: 700px;
  width: 500px;
  transform: rotate(350deg);
}

a {
  color: #565264;
  text-decoration: none;
}

a:hover {
  color:#D6CFCB;
}

nav {
  display: flex;
}

nav ul li {
  display: inline-block;
  vertical-align: top;
  font-family: 'Lobster', cursive;
  font-size: 25px;
  padding: 30px;
  margin:0, auto;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}

/* main styling */
article {
  background-color:#565264;
  text-align: center;  
  border:double; 
  border-width: 5px;
  content: 8px;
  margin-bottom:50px;
  margin-top:50px;
  width:1115px;
  color: #D6CFCB;
  padding-bottom: 50px;
  padding-right:50px;
}
article h2{
  font-size: 30px;
  color:#a57382;
  margin-bottom: 30px;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
  font-family: 'Lobster', cursive;
}

article p {
  height: 300px;
  overflow: auto;
  font-size: 18px;
  font-style: italic;
  line-height: 30px;
  font-family:'Times New Roman', Times, serif;
}

#merch ul {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}
 
figcaption{
  color:#a57382;
  font-weight: bold;
  font-family:'Times New Roman', Times, serif;
}
/* footer styling */

#contact {
  width: 100%;
  height: 300px;
}


#contact img {
    float:right;
    height: min-content;
    padding-left: 10px;
}

#contact ul {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  font-family:'Times New Roman', Times, serif;
}

#contact ul li {
  margin: 10px;
  text-align: left;
}
#contact ul li:nth-child(1){
  color: #D8E2DC;
}
#contact ul li:nth-child(2){
  color: #FFE5D9;
}
#contact ul li:nth-child(3){
  color: #FFCAD4;
}
#contact ul li:nth-child(4){
  color: #F4ACB7;
}
#contact ul li:nth-child(5){
  color: #9D8189;
}
#contact ul li:last-child {
  color:#fff;
}

